* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    
    min-height: 100vh;

}

#box{
    width: 200px;
    height: 200px;

}

.default {
    background-color: gray;
}

.mouseon{
    background-color: aquamarine;
}